* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  /* background-color: black; */
  color: white;
}
.header {
  width: 80%;
  background: white;
}
#front {
  width: 100%;
  height: 100vh;
  /* background-image: url(images/background.png); */
  background-size: cover;
  background-position: center;
}
.container {
  padding: 0px 10%;
}
.fixed {
  position: fixed;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  position: relative;
}

nav ul li a {
  color: rgb(36, 36, 36);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.2s;
}
nav ul li a:hover::after {
  width: 100%;
}
.front-text {
  margin-top: 17%;
  margin-right: 250px;
  font-size: 25px;
  color: rgb(36, 36, 36);
}
.front-text h1 {
  font-size: 50px;
  /* gap: 10px; */
  /* margin-top: 20px; */
  color: rgb(36, 36, 36);
}
.front-text h1 span {
  color: red;
}
.text-uiux {
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0.8;
}
.text {
  opacity: 0.8;
}
.my-face {
  height: 700px;
  width: 500px;
  margin-left: 10px;
}
.whole-body {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
/* ......................about...................... */
#about {
  padding: 80px 0px;
  color: #545353;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 10px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  margin-bottom: 10px;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.2s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #ff004f;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
.aboutme {
  text-align: left;
  width: 80%;
}
/* -------------------services--------------------- */
.sub-title {
  font-weight: 800;
}
#services {
  padding: 30px 0;
  color: #545353;
  /* margin-bottom: 250px; */
}
.services-list {
  display: flex;
  margin-top: 50px;
  grid-gap: 40px;
}
.services-list div {
  background: cornsilk;
  padding: 40px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 14px;
  transition: background 0.2s, transform 0.2s;
}
.services-list div i {
  font-size: 35px;
  margin-bottom: 20px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: rgba(160, 81, 229, 0.781);
  font-size: 15px;
  margin-top: 15px;
  display: inline-flex;
}

.services-list div:hover {
  background: rgb(255, 230, 121);
  transform: translateY(-10px);
}

.work-lists {
  display: flex;
  margin-top: 50px;
  grid-gap: 40px;
  color: #ffffff;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: flex;
  transition: transform 0.2s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgb(0, 0, 0, 0.6), cornsilk);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  font-size: 15px;
  transition: height 0.2s;
}
.layer h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 16px;
}
.layer a {
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}
.btn {
  display: flex;
  margin-top: 20px;
  margin: 50px auto;
  padding: 14px 40px;
  width: fit-content;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 230, 121);
  border-radius: 6px;
  transition: background 0.2s;
}
.btn:hover {
  background: cornsilk;
  content: "aman";
}

/* ..........contact.................. */
form {
  /* display: grid; */
  width: 58%;
  margin-bottom: 500px;
}
.contact {
  padding: 0px 11%;
}
.contact-left {
  flex-basis: 35%;
  color: black;
}

.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #545353;
  margin-right: 15px;
  font-size: 20px;
}
.social-icons a {
  margin-top: 30px;
  text-decoration: none;
  font-size: 30px;
  color: #545353;
  margin-right: 15px;
  display: inline-block;
  transition: color 0.2s;
  transition: transform 0.2s;
}
.social-icons a:hover {
  color: purple;
  transform: translateY(-5px);
}
.btn2 {
  display: inline-flex;
  background-color: cornsilk;
}
contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0px;
  background: #adadad;
  padding: 15px;
  margin: 15px;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
}
.btn3 {
  display: inline-flex;
  background-color: cornsilk;
  margin: 15px;
  cursor: pointer;
  font-size: 16px;
}
